.login-container{
    display: flex;
    justify-content: center;
    min-width: 300px;
}
.login{
 display: flex;
 flex-direction: column;  
 align-items: center;
 justify-content: space-between;
 border: 1px solid blue;
 padding: 40px;
 border-radius: 10px;
 margin-top: 15vh;
 min-height: 270px;
 background-color: white;
}
.login > Button{
    width: 100%;
}


